.features__list {
    display: flex;
    gap: 30px;
}

.features__title {
    color: var(--title-text-color);

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features__item {
    flex-basis: calc((100% - 3 * 30px) / 4);
}

.features__text {
    color: var(--primery-text-color);
    font-size: 14px;
    line-height: 1.71;
}

.features__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondery-bg-color);
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}